@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-beige: #ede9d3;
  --button:#7f7c6b;
  --background-clair : #f3f6e5;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background-beige {
  background-color: var(--background-beige)
}

.bg-button {
  background-color: var(--button);
}

.color-text {
  color: var(--button);
}

.background-clair {
  background-color : var(--background-clair);
}