@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-beige: #ede9d3;
  --button:#7f7c6b;
  --background-clair : #f3f6e5;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif !important;
}

.background-beige {
  background-color: var(--background-beige)
}

.bg-button {
  background-color: var(--button);
}

.color-text {
  color: var(--button);
}

.background-clair {
  background-color : var(--background-clair);
}